@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{


    --background-color:#1a202c;
    --nav-item-color: #ffffff;
    --nav-border-color: #464242;
    --nav-background-color: #3e4e6c;
    --footer-background-color: #3e4e6c;
    --btn-primary: #5fd8f3;
    --btn-primary-hover: #3a899a;
}
body{
    font-family: 'Oswald', sans-serif;
}
main{
    margin-top: 4rem;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer ul li{
    color: #ffffff;
    margin-left: .5rem;
}
footer{
    width: calc(100% - 13px);
    position: fixed;
    left:0;
    bottom: 0;
    margin: 10px;
    background-color: var(--footer-background-color);
    border: 2px solid var(--nav-border-color);
    border-radius: 10px;
}
.alert {
    position: absolute;
    top: -200vh;
    left: 50%;
    margin-top: -50px;
    margin-left: -125px;
    display: block;
    max-width: 500px;
    min-width: 250px;
    max-height: 500px;
    min-height: 100px;
    padding: 0.5em;
    text-align: center;
    z-index: 1100;
    transform: translateY(-200vh);
    transition: transform 400ms ease-in-out ;
}
#login{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;

}
.alert-active{
    transform: translateY(+205vh);
    transition: transform 400ms ease-in-out ;
}
.hidden{
    display: none !important;
}
.nav-link{
    cursor: pointer;
}
.bi{
    text-align: center;
    font-size:1rem;
    margin: auto;
}
